$light-green: #b0b7ac;
$dark-blue: #435662;
$green: #b9c899;
$light-gray: #999999;
$white: #efefef;
$background: $dark-blue;

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  background: $background;
  margin: 0 auto;
  padding: 2em;
}

#root {
  text-align: center;
  margin-top: 3rem;
}

.row {
  height: 80px;
}

.piece {
  fill: $white;
}

.piece.selected {
  fill: $light-gray;
}

.note {
  color: $light-gray;
}

.centered {
  text-align: center;
}

.message {
  margin-top: 2rem;
  color: $white;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

footer {
  margin-top: 3rem;
  text-align: center;
  font-size: .9em;
  color: $white;
}

.logo-small {
  width: 50px;
  height: 50px;
}

button {
  transition: all 0.3s ease-in;
  border: 1px solid $dark-blue;
  color: $dark-blue;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  height: 3rem;
  width: 10rem;
  text-transform: uppercase;
  margin-top: 4rem;

  &[disabled] {
    color: $light-gray;
    border: 1px solid $light-gray;
  }
}

button:hover {
  color: $white;
  border: 1px solid $white;
  background-color: $dark-blue;

  &[disabled] {
    color: $light-gray;
    border: 1px solid $light-gray;
    background-color: $white;
  }
}

@media only screen and (max-width: 780px) {
  .piece {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (max-width: 580px) {
  .piece {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .piece {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 290px) {
  .piece {
    width: 35px;
    height: 35px;
  }
}
